//formatting container
.main-reminder-name-container {
    display: flex;

}
//formatting add container
.add {
    background-color: #E2F2DA;
    width: 50px;
    
}
//formatting changing the intial size on click
.expand {
    background-color: #E2F2DA;
    width: 50%;
}
//Formating the input box
.right-title {
    margin-left:160px;
}

.right-details {
    margin-left:230px;
}

.right-date {
    margin-left:100px;
}



.main-container {
    display: flex;
    height: 100%;
}

.reminder-container {
    text-align: center;
    width: 100%;    
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    
}

.add-reminder-container {
    width: 200px;
    height: 200px;
    //background-color: rgb(255,255,0);
    margin: auto;
    border-radius: 20px;
    box-shadow: 6px 9px 19px grey;
    color:whitesmoke;
    text-align: left;
}

.increase {
    width: 300px;
    height: 300px;
    background-color: green;
    margin: auto;
    border-radius: 20px;
}

.reminder-detail {
    margin-top: 50px;
}

.reminder-time {
    margin-top: 30px;
}

.reminder-name {
    margin-top: 10px;
}
//grid layout class with 3 rows
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 20px;
}


.add-reminder {
    margin-top: 20px;
}

.hide{
    display: none;
}

.strike{
    text-decoration: line-through;
}

.img {
    width: 30px;
    height: 30px;
}

